.cardWrapper {
    display: flex;
    padding: 20px;
    border-radius: 15px;
    min-width: 700px;
    background: #000000;
    margin: 20px auto;
}

.buttonWrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}